{{#block "header"}}

<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Team{{/block}}
    </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='img/styles.css'>
</head>
<body>
{{/block}}

<!-- begin inner template-->
<div class="container">
    <img src="/img/green.jpg" width="70%">
    {{#block "content"}}
    {{/block}}

    <a href="/team/display">See all</a><br>
    <a href="/">Add New</a>
</div>
<!-- end inner template-->
{{#block "footer"}}

</body>
</html>
{{/block}}